<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.cfm" />
				<add value="index.htm" /> 
			</files>
		</defaultDocument>
		<rewrite>
			<rules>
				<rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
				
				<!-- ACCUEIL -->
				<rule name="maintenance fr"> 
					<match url="^fr/entretien?$" />
					<action type="Rewrite" url="maintenance.cfm?langue=fr" />
				</rule>
				<rule name="maintenance en"> 
					<match url="^en/maintenance?$" />
					<action type="Rewrite" url="maintenance.cfm?langue=en" />
				</rule>
				<rule name="test fr">
					<match url="^fr/test?$" />
					<action type="Rewrite" url="_utilisateurs/_test.cfm?langue=fr" />
				</rule>
				 
				<rule name="accueil fr">
					<match url="^fr/accueil?$" />
					<action type="Rewrite" url="index.cfm?langue=fr" />
				</rule>
				<rule name="accueil en">
					<match url="^en/home?$" />
					<action type="Rewrite" url="index.cfm?langue=en" />
				</rule>
				<rule name="erreur fr">
					<match url="^fr/erreur?$" />
					<action type="Rewrite" url="erreur.cfm?langue=fr" />
				</rule>
				<rule name="erreur en">
					<match url="^en/error?$" />
					<action type="Rewrite" url="erreur.cfm?langue=en" />
				</rule>
				<rule name="conditions fr">
					<match url="^fr/conditions-utilisation?$" />
					<action type="Rewrite" url="conditions.cfm?langue=fr" />
				</rule>
				<rule name="conditions en">
					<match url="^en/terms-of-use?$" />
					<action type="Rewrite" url="conditions.cfm?langue=en" />
				</rule>
				
				<rule name="abonnement fr">
					<match url="^fr/abonnement?$" />
					<action type="Rewrite" url="abonnement.cfm?langue=fr" />
				</rule>
				<rule name="abonnement en">
					<match url="^en/subscription?$" />
					<action type="Rewrite" url="abonnement.cfm?langue=en" />
				</rule>
				<rule name="tarifs fr">
					<match url="^fr/tarifs?$" />
					<action type="Rewrite" url="tarifs.cfm?langue=fr" />
				</rule>
				<rule name="tarifs en">
					<match url="^en/rates?$" />
					<action type="Rewrite" url="tarifs.cfm?langue=en" />
				</rule>
				
				<!-- ADMIN -->
				<rule name="admin ajout organisme fr">
					<match url="^fr/secure/admin-ajout-organisme?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organisme.cfm?langue=fr" />
				</rule>
				<rule name="admin ajout organisme en">
					<match url="^en/secure/admin-add-charity?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organisme.cfm?langue=en" />
				</rule>
				<rule name="admin organisme editer fr">
					<match url="^fr/secure/admin-editer-organisme-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organisme.cfm?OID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="admin organisme editer en">
					<match url="^en/secure/admin-edit-charity-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organisme.cfm?OID={R:1}&amp;langue=en" />
				</rule>
				<rule name="admin organismes liste fr">
					<match url="^fr/secure/admin-liste-organismes/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste.cfm?page={R:1}&amp;langue=fr" />
				</rule>
				<rule name="admin organismes liste en">
					<match url="^en/secure/admin-charities-list/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste.cfm?page={R:1}&amp;langue=en" />
				</rule>
				<rule name="admin organismes liste excel fr">
					<match url="^fr/secure/admin-liste-organismes-excel?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste_excel.cfm?langue=fr" />
				</rule>
				<rule name="admin organismes liste excel en">
					<match url="^en/secure/admin-charities-list-excel?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste_excel.cfm?langue=en" />
				</rule>
				<rule name="admin organisme archiver fr">
					<match url="^fr/secure/admin-archiver-organisme-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste.cfm?archiverOID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="admin organisme archiver en">
					<match url="^en/secure/admin-archive-charity-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste.cfm?archiverOID={R:1}&amp;langue=en" />
				</rule>
				<rule name="admin organisme activer fr">
					<match url="^fr/secure/admin-activer-organisme-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste.cfm?activerOID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="admin organisme activer en">
					<match url="^en/secure/admin-activate-charity-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste.cfm?activerOID={R:1}&amp;langue=en" />
				</rule>
				<rule name="admin envoi mdp utilisateur fr">
					<match url="^fr/secure/admin-envoi-utilisateur-org([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste.cfm?envoiOID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="admin envoi mdp utilisateur en">
					<match url="^en/secure/admin-send-user-org([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin_organismes_liste.cfm?envoiOID={R:1}&amp;langue=en" />
				</rule>
				<rule name="admin ajout utilisateur fr">
					<match url="^fr/secure/admin-ajout-utilisateur-org([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin-utilisateur.cfm?oid={R:1}&amp;langue=fr" />
				</rule>
				<rule name="admin ajout utilisateur en">
					<match url="^en/secure/admin-add-user-org([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin-utilisateur.cfm?oid={R:1}&amp;langue=en" />
				</rule>
				<rule name="admin utilisateur editer fr">
					<match url="^fr/secure/admin-editer-utilisateur-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin-utilisateur.cfm?UID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="admin utilisateur editer en">
					<match url="^en/secure/admin-edit-user-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/admin-utilisateur.cfm?UID={R:1}&amp;langue=en" />
				</rule>
				
				
				<!-- ZONE SECURISEE -->
				<rule name="secure accueil fr">  
					<match url="^fr/secure/accueil?$" />
					<action type="Rewrite" url="_utilisateurs/index.cfm?langue=fr" />
				</rule>
				<rule name="secure accueil en">
					<match url="^en/secure/home?$" />
					<action type="Rewrite" url="_utilisateurs/index.cfm?langue=en" />
				</rule>
				<rule name="secure tutorials fr">
					<match url="^fr/secure/tutoriels?$" />
					<action type="Rewrite" url="_utilisateurs/tutorials.cfm?langue=fr" />
				</rule>
				<rule name="secure tutorials en">
					<match url="^en/secure/tutorials?$" />
					<action type="Rewrite" url="_utilisateurs/tutorials.cfm?langue=en" />
				</rule>
				<!-- UTILSATEURS -->
				<rule name="utilisateurs liste fr">
					<match url="^fr/secure/liste-des-utilisateurs/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateurs_liste.cfm?page={R:1}&amp;langue=fr" />
				</rule>
				<rule name="utilisateurs liste en">
					<match url="^en/secure/users-list/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateurs_liste.cfm?page={R:1}&amp;langue=en" />
				</rule>
				<rule name="utilisateur archiver fr">
					<match url="^fr/secure/archiver-utilisateur-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateurs_liste.cfm?archiverUID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="utilisateur archiver en">
					<match url="^en/secure/archive-user-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateurs_liste.cfm?archiverUID={R:1}&amp;langue=en" />
				</rule>
				<rule name="utilisateur activer fr">
					<match url="^fr/secure/activer-utilisateur-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateurs_liste.cfm?activerUID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="utilisateur activer en">
					<match url="^en/secure/activate-user-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateurs_liste.cfm?activerUID={R:1}&amp;langue=en" />
				</rule>
				<rule name="utilisateur supprimer fr">
					<match url="^fr/secure/supprimer-utilisateur-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateurs_liste.cfm?supprimerUID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="utilisateur supprimer en">
					<match url="^en/secure/delete-user-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateurs_liste.cfm?supprimerUID={R:1}&amp;langue=en" />
				</rule>
				<rule name="utilisateur ajout fr">
					<match url="^fr/secure/ajout-utilisateur?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateur.cfm?langue=fr" />
				</rule>
				<rule name="utilisateur ajout en">
					<match url="^en/secure/add-user?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateur.cfm?langue=en" />
				</rule>
				<rule name="utilisateur editer fr">
					<match url="^fr/secure/editer-utilisateur-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateur.cfm?UID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="utilisateur editer en">
					<match url="^en/secure/edit-user-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/utilisateur.cfm?UID={R:1}&amp;langue=en" />
				</rule>
				<rule name="deconnexion fr">
					<match url="^fr/deconnexion?$" />
					<action type="Rewrite" url="index.cfm?langue=fr&amp;logout" />
				</rule>
				<rule name="deconnexion en">
					<match url="^en/logout?$" />
					<action type="Rewrite" url="index.cfm?langue=en&amp;logout" />
				</rule>
				<!-- DONS -->
				<rule name="dons liste tri fr">
					<match url="^fr/secure/liste-des-dons/tri-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?tri={R:1}&amp;page={R:2}&amp;langue=fr" />
				</rule>
				# test #
				<rule name="dons liste tri test fr">
					<match url="^fr/secure/liste-des-dons-test/tri-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste_test.cfm?tri={R:1}&amp;page={R:2}&amp;langue=fr" />
				</rule>
				<rule name="dons liste tri en">
					<match url="^en/secure/gifts-list/sort-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?tri={R:1}&amp;page={R:2}&amp;langue=en" />
				</rule>
				<rule name="dons liste tri test en">
					<match url="^en/secure/gifts-list-test/sort-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste_test.cfm?tri={R:1}&amp;page={R:2}&amp;langue=en" />
				</rule>
				<rule name="dons liste fr">
					<match url="^fr/secure/liste-des-dons/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?page={R:1}&amp;langue=fr" />
				</rule>
				# test #
				<rule name="dons liste test fr">
					<match url="^fr/secure/liste-des-dons-test/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste_test.cfm?page={R:1}&amp;langue=fr" />
				</rule>
				<rule name="dons liste en">
					<match url="^en/secure/gifts-list/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?page={R:1}&amp;langue=en" />
				</rule>
				<rule name="dons liste test en">
					<match url="^en/secure/gifts-list-test/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste_test.cfm?page={R:1}&amp;langue=en" />
				</rule>
				<rule name="dons liste excel fr">
					<match url="^fr/secure/liste-des-dons-excel?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?excel=1&amp;langue=fr" />
				</rule>
				<rule name="dons liste excel en">
					<match url="^en/secure/gifts-list-excel?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?excel=1&amp;langue=en" />
				</rule>
				<rule name="dons liste quickbooks fr">
					<match url="^fr/secure/liste-des-dons-quickbooks?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?quickbooks=1&amp;langue=fr" />
				</rule>
				<rule name="dons liste quickbooks en">
					<match url="^en/secure/gifts-list-quickbooks?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?quickbooks=1&amp;langue=en" />
				</rule>
				<rule name="don supprimer fr">
					<match url="^fr/secure/supprimer-don-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?supprimerDID={R:1}&amp;page=1&amp;langue=fr" />
				</rule>
				<rule name="don supprimer en">
					<match url="^en/secure/delete-gift-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/dons_liste.cfm?supprimerDID={R:1}&amp;page=1&amp;langue=en" />
				</rule>
				<rule name="don ajout tri fr">
					<match url="^fr/secure/ajout-don/tri-([^/]+)?$" />
					<action type="Rewrite" url="_utilisateurs/don.cfm?tri={R:1}&amp;langue=fr" />
				</rule>
				<rule name="don ajout tri en">
					<match url="^en/secure/add-gift/sort-([^/]+)?$" />
					<action type="Rewrite" url="_utilisateurs/don.cfm?tri={R:1}&amp;langue=en" />
				</rule>
				<rule name="don ajout fr">
					<match url="^fr/secure/ajout-don?$" />
					<action type="Rewrite" url="_utilisateurs/don.cfm?langue=fr" />
				</rule>
				<rule name="don ajout en">
					<match url="^en/secure/add-gift?$" />
					<action type="Rewrite" url="_utilisateurs/don.cfm?langue=en" />
				</rule>
				<rule name="don ajout test fr">
					<match url="^fr/secure/ajout-don-test?$" />
					<action type="Rewrite" url="_utilisateurs/donTest.cfm?langue=fr" />
				</rule>
				<rule name="don ajout test en">
					<match url="^en/secure/add-gift-test?$" />
					<action type="Rewrite" url="_utilisateurs/donTest.cfm?langue=en" />
				</rule>
				<rule name="don editer fr">
					<match url="^fr/secure/editer-don-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/don.cfm?DID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="don editer en">
					<match url="^en/secure/edit-gift-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/don.cfm?DID={R:1}&amp;langue=en" />
				</rule>
				<rule name="dons batch fr">
					<match url="^fr/secure/import-dons-lot?$" />
					<action type="Rewrite" url="_utilisateurs/dons-batch.cfm?langue=fr" />
				</rule>
				<rule name="dons batch test fr">
					<match url="^fr/secure/import-dons-lot-test?$" />
					<action type="Rewrite" url="_utilisateurs/dons-batch_test.cfm?langue=fr" />
				</rule>
				<rule name="dons batch en">
					<match url="^en/secure/gifts-batch-import?$" />
					<action type="Rewrite" url="_utilisateurs/dons-batch.cfm?langue=en" />
				</rule>
				<rule name="dons batch test en">
					<match url="^en/secure/gifts-batch-import-test?$" />
					<action type="Rewrite" url="_utilisateurs/dons-batch_test.cfm?langue=en" />
				</rule>
				<rule name="dons bordereau depot fr">
					<match url="^fr/secure/bordereau-depot?$" />
					<action type="Rewrite" url="_utilisateurs/bordereau_depot.cfm?langue=fr" />
				</rule>
				<rule name="dons bordereau depot en">
					<match url="^en/secure/deposit-slip?$" />
					<action type="Rewrite" url="_utilisateurs/bordereau_depot.cfm?langue=en" />
				</rule>
				<!-- COMPTES -->
				<rule name="comptes liste fr">
					<match url="^fr/secure/liste-des-comptes/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/comptes_liste.cfm?page={R:1}&amp;langue=fr" />
				</rule>
				<rule name="comptes liste en">
					<match url="^en/secure/accounts-list/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/comptes_liste.cfm?page={R:1}&amp;langue=en" />
				</rule>
				<rule name="compte supprimer fr">
					<match url="^fr/secure/supprimer-compte-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/comptes_liste.cfm?supprimerCID={R:1}&amp;page=1&amp;langue=fr" />
				</rule>
				<rule name="compte supprimer en">
					<match url="^en/secure/delete-account-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/comptes_liste.cfm?supprimerCID={R:1}&amp;page=1&amp;langue=en" />
				</rule>
				<rule name="compte ajout fr">
					<match url="^fr/secure/ajout-compte?$" />
					<action type="Rewrite" url="_utilisateurs/compte.cfm?langue=fr" />
				</rule>
				<rule name="compte ajout en">
					<match url="^en/secure/add-account?$" />
					<action type="Rewrite" url="_utilisateurs/compte.cfm?langue=en" />
				</rule>
				<rule name="compte editer fr">
					<match url="^fr/secure/editer-compte-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/compte.cfm?CID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="compte editer en">
					<match url="^en/secure/edit-account-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/compte.cfm?CID={R:1}&amp;langue=en" />
				</rule>
				##### DONATEURS #####
				<rule name="donateurs liste tri fr">
					<match url="^fr/secure/liste-des-donateurs/tri-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs_liste.cfm?tri={R:1}&amp;page={R:2}&amp;langue=fr" />
				</rule>
				<rule name="donateurs liste tri en">
					<match url="^en/secure/donors-list/sort-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs_liste.cfm?tri={R:1}&amp;page={R:2}&amp;langue=en" />
				</rule>
				<rule name="donateurs liste fr">
					<match url="^fr/secure/liste-des-donateurs/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs_liste.cfm?page={R:1}&amp;langue=fr" />
				</rule>
				<rule name="donateurs liste en">
					<match url="^en/secure/donors-list/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs_liste.cfm?page={R:1}&amp;langue=en" />
				</rule>
				<rule name="donateur archiver fr">
					<match url="^fr/secure/archiver-donateur-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs_liste.cfm?archiverDID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="donateur archiver en">
					<match url="^en/secure/archive-donor-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs_liste.cfm?archiverDID={R:1}&amp;langue=en" />
				</rule>
				<rule name="donateur activer fr">
					<match url="^fr/secure/activer-donateur-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs_liste.cfm?activerDID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="donateur activer en">
					<match url="^en/secure/activate-donor-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs_liste.cfm?activerDID={R:1}&amp;langue=en" />
				</rule>
				<rule name="donateur ajout tri fr">
					<match url="^fr/secure/ajout-donateur/tri-([^/]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateur.cfm?tri={R:1}&amp;langue=fr" />
				</rule>
				<rule name="donateur ajout tri en">
					<match url="^en/secure/add-donor/sort-([^/]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateur.cfm?tri={R:1}&amp;langue=en" />
				</rule>
				<rule name="donateur ajout fr">
					<match url="^fr/secure/ajout-donateur?$" />
					<action type="Rewrite" url="_utilisateurs/donateur.cfm?langue=fr" />
				</rule>
				<rule name="donateur ajout en">
					<match url="^en/secure/add-donor?$" />
					<action type="Rewrite" url="_utilisateurs/donateur.cfm?langue=en" />
				</rule>
				<rule name="donateur ajout fr 2">
					<match url="^fr/secure/ajout-donateur2?$" />
					<action type="Rewrite" url="_utilisateurs/donateur2.cfm?langue=fr" />
				</rule>
				<rule name="donateur ajout en 2">
					<match url="^en/secure/add-donor2?$" />
					<action type="Rewrite" url="_utilisateurs/donateur2.cfm?langue=en" />
				</rule>
				<rule name="donateur editer fr">
					<match url="^fr/secure/editer-donateur-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateur.cfm?DID={R:1}&amp;langue=fr" />
				</rule>
				<rule name="donateur editer en">
					<match url="^en/secure/edit-donor-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/donateur.cfm?DID={R:1}&amp;langue=en" />
				</rule>
				<rule name="donateurs batch fr">
					<match url="^fr/secure/import-donateurs-lot?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs-batch.cfm?langue=fr" />
				</rule>
				<rule name="donateurs batch en">
					<match url="^en/secure/donors-batch-import?$" />
					<action type="Rewrite" url="_utilisateurs/donateurs-batch.cfm?langue=en" />
				</rule>
				
				##### RAPPORTS #####
				<rule name="rapport dons fr">
					<match url="^fr/secure/rapport-dons?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_dons.cfm?langue=fr" />
				</rule>
				<rule name="rapport dons en">
					<match url="^en/secure/report-gifts?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_dons.cfm?langue=en" />
				</rule> 
				<rule name="rapport dons sommaire fr">
					<match url="^fr/secure/rapport-dons-sommaire?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_dons-sommaire.cfm?langue=fr" />
				</rule>
				<rule name="rapport dons sommaire en">
					<match url="^en/secure/report-gifts-summary?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_dons-sommaire.cfm?langue=en" />
				</rule>
				
				<rule name="rapport dons sommaire test fr">
					<match url="^fr/secure/rapport-dons-sommaire/test?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_dons-sommaire_test.cfm?langue=fr" />
				</rule>
				<rule name="rapport dons sommaire test en">
					<match url="^en/secure/report-gifts-summary/test?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_dons-sommaire_test.cfm?langue=en" />
				</rule>
				
				<rule name="rapport donateurs fr">
					<match url="^fr/secure/rapport-donateurs?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_donateurs.cfm?langue=fr" />
				</rule>
				<rule name="rapport donateurs en">
					<match url="^en/secure/report-donors?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_donateurs.cfm?langue=en" />
				</rule>
				<rule name="rapport comptes fr">
					<match url="^fr/secure/rapport-comptes?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_comptes.cfm?langue=fr" />
				</rule>
				<rule name="rapport comptes en">
					<match url="^en/secure/report-accounts?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_comptes.cfm?langue=en" />
				</rule>
				
				#################################
				#####	RECUS IMPOT			#####
				#################################
				<rule name="rapport recus test fr">
					<match url="^fr/secure/rapport-recus-test?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_recus_test.cfm?langue=fr" />
				</rule>
				<rule name="rapport recus test en">
					<match url="^en/secure/report-receipts-test?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_recus_test.cfm?langue=en" />
				</rule>
				
				#####	RECUS PDF		#####
				<!-- GENERATEUR DE RECUS -->
				<rule name="generateur recus fr">
					<match url="^fr/secure/rapport-recus?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_recus.cfm?langue=fr" />
				</rule>
				<rule name="generateur recus en">
					<match url="^en/secure/report-receipts?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_recus.cfm?langue=en" />
				</rule>
				<!-- RAPPORT DE RECUS HTML -->
				<rule name="rapport recus tri page fr">
					<match url="^fr/secure/rapport-impression-pdf/tri-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_impression_pdf.cfm?tri={R:1}&amp;page={R:2}&amp;langue=fr" />
				</rule>
				<rule name="rapport recus tri page en">
					<match url="^en/secure/report-pdf-printing/sort-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_impression_pdf.cfm?tri={R:1}&amp;page={R:2}&amp;langue=en" />
				</rule>
				<rule name="rapport recus page fr">
					<match url="^fr/secure/rapport-impression-pdf/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_impression_pdf.cfm?page={R:1}&amp;langue=fr" />
				</rule>
				<rule name="rapport recus page en">
					<match url="^en/secure/report-pdf-printing/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_impression_pdf.cfm?page={R:1}&amp;langue=en" />
				</rule>
				<rule name="rapport recus fr">
					<match url="^fr/secure/rapport-impression-pdf?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_impression_pdf.cfm?langue=fr" />
				</rule>
				<rule name="rapport recus en">
					<match url="^en/secure/report-pdf-printing?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_impression_pdf.cfm?langue=en" />
				</rule>
				<!-- RAPPORT DE RECUS EXCEL -->
				<rule name="rapport recus excel fr">
					<match url="^fr/secure/rapport-impression-excel?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_impression_pdf.cfm?excel=1&amp;langue=fr" />
				</rule>
				<rule name="rapport recus excel en">
					<match url="^en/secure/report-excel-printing?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_impression_pdf.cfm?excel=1&amp;langue=en" />
				</rule>
				<!-- RAPPORT DE RECUS GROUPES PAR DATE DE PRODUCTION HTML -->
				<rule name="rapport impression pdf liste fr">
					<match url="^fr/secure/liste-impressions-pdf/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/impressions_liste.cfm?page={R:1}&amp;langue=fr" />
				</rule> 
				<rule name="rapport impression pdf liste en">
					<match url="^en/secure/pdf-printing-list/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/impressions_liste.cfm?page={R:1}&amp;langue=en" />
				</rule>
				
				
				##### 	ENVOIS COURRIELS 	#####
				<rule name="rapport recus courriels fr">
					<match url="^fr/secure/generateur-recus-courriels?$" />
					<action type="Rewrite" url="_utilisateurs/generateur_recus_courriels.cfm?langue=fr" />
				</rule>
				<rule name="rapport recus courriels en">
					<match url="^en/secure/receipts-email-generator?$" />
					<action type="Rewrite" url="_utilisateurs/generateur_recus_courriels.cfm?langue=en" />
				</rule>
				<!-- LISTE NON GROUPEE -->
				<rule name="rapport envois courriels tri page fr">
					<match url="^fr/secure/rapport-envois-courriel/tri-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_envois_courriel.cfm?tri={R:1}&amp;page={R:2}&amp;langue=fr" />
				</rule>
				<rule name="rapport envois courriels tri page en">
					<match url="^en/secure/report-bulk-emails/sort-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_envois_courriel.cfm?tri={R:1}&amp;page={R:2}&amp;langue=en" />
				</rule>
				<rule name="rapport envois courriels tri fr">
					<match url="^fr/secure/rapport-envois-courriel/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_envois_courriel.cfm?page={R:1}&amp;langue=fr" />
				</rule>
				<rule name="rapport envois courriels tri en">
					<match url="^en/secure/report-bulk-emails/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_envois_courriel.cfm?page={R:1}&amp;langue=en" />
				</rule>
				<rule name="rapport envois courriels fr">
					<match url="^fr/secure/rapport-envois-courriel?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_envois_courriel.cfm?langue=fr" />
				</rule>
				<rule name="rapport envois courriels test fr">
					<match url="^fr/secure/rapport-envois-courriel/test?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_envois_courriel_test.cfm?langue=fr" />
				</rule>
				<rule name="rapport envois courriels en">
					<match url="^en/secure/report-bulk-emails?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_envois_courriel.cfm?langue=en" />
				</rule>
				<!-- RAPPORT RECUS EXCEL -->
				<rule name="rapport envois courriels excel fr">
					<match url="^fr/secure/rapport-envois-excel?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_envois_courriel.cfm?excel=1&amp;langue=fr" />
				</rule>
				<rule name="rapport envois courriels excel en">
					<match url="^en/secure/report-emails-excel?$" />
					<action type="Rewrite" url="_utilisateurs/rapport_envois_courriel.cfm?excel=1&amp;langue=en" />
				</rule> 
				<!-- LISTE GROUPEE PAR DATE D'ENVOI -->
				<rule name="rapport envois recus liste fr">
					<match url="^fr/secure/liste-des-envois/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/envois_liste.cfm?page={R:1}&amp;langue=fr" />
				</rule>
				<rule name="rapport envois recus liste en">
					<match url="^en/secure/bulk-emails-list/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/envois_liste.cfm?page={R:1}&amp;langue=en" />
				</rule>
				<rule name="rapport envoi recus info tri page fr">
					<match url="^fr/secure/info-sur-envoi-([0-9-]+)/tri-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/envoi_info.cfm?envoiCode={R:1}&amp;tri={R:2}&amp;page={R:3}&amp;langue=fr" />
				</rule>
				<rule name="rapport envoi recus info sort page en">
					<match url="^en/secure/bulk-emails-info-([0-9-]+)/sort-([^/]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/envoi_info.cfm?envoiCode={R:1}&amp;tri={R:2}&amp;page={R:3}&amp;langue=en" />
				</rule>
				<rule name="rapport envoi recus info page fr">
					<match url="^fr/secure/info-sur-envoi-([0-9-]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/envoi_info.cfm?envoiCode={R:1}&amp;page={R:2}&amp;langue=fr" />
				</rule>
				<rule name="rapport envoi recus info page en">
					<match url="^en/secure/bulk-emails-info-([0-9-]+)/page-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/envoi_info.cfm?envoiCode={R:1}&amp;page={R:2}&amp;langue=en" />
				</rule>
				<rule name="rapport envoi recus info fr">
					<match url="^fr/secure/info-sur-envoi-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/envoi_info.cfm?envoiCode={R:1}&amp;page=1&amp;langue=fr" />
				</rule>
				<rule name="rapport envoi recus info en">
					<match url="^en/secure/bulk-emails-info-([0-9-]+)?$" />
					<action type="Rewrite" url="_utilisateurs/envoi_info.cfm?envoiCode={R:1}&amp;page=1&amp;langue=en" />
				</rule>
				
				
				<!-- PARAMETRES -->
				<rule name="profil fr">
					<match url="^fr/secure/parametres-profil?$" />
					<action type="Rewrite" url="_utilisateurs/profil.cfm?langue=fr" />
				</rule>
				<rule name="profil en">
					<match url="^en/secure/parameters-profile?$" />
					<action type="Rewrite" url="_utilisateurs/profil.cfm?langue=en" />
				</rule>
				<!-- ROUTINES -->
				<rule name="routine alerte license">
					<match url="^alerte/expiration-license?$" />
					<action type="Rewrite" url="routines/alerte_expiration_license.cfm" />
				</rule>
				<!-- MIGRATION -->
				<rule name="migration comptes">
					<match url="^migration/comptes?$" />
					<action type="Rewrite" url="migration/transfertComptes.cfm" />
				</rule>
				<rule name="migration donateurs">
					<match url="^migration/donateurs?$" />
					<action type="Rewrite" url="migration/transfertDonateurs.cfm" />
				</rule>
				<rule name="migration dons">
					<match url="^migration/dons?$" />
					<action type="Rewrite" url="migration/transfertDons.cfm" />
				</rule>
				<rule name="migration utilisateurs">
					<match url="^migration/utilisateurs?$" />
					<action type="Rewrite" url="migration/transfertUtilisateurs.cfm" />
				</rule>
				<!-- EXPORT -->
				<rule name="export index">
					<match url="^export/?$" />
					<action type="Rewrite" url="export/index.cfm" />
				</rule>
				<rule name="export comptes">
					<match url="^export/comptes?$" />
					<action type="Rewrite" url="export/exportComptes.cfm" />
				</rule>
				<rule name="export donateurs">
					<match url="^export/donateurs?$" />
					<action type="Rewrite" url="export/exportDonateurs.cfm" />
				</rule>
				<rule name="export dons">
					<match url="^export/dons?$" />
					<action type="Rewrite" url="export/exportDons.cfm" />
				</rule>
				<rule name="export utilisateurs">
					<match url="^export/utilisateurs?$" />
					<action type="Rewrite" url="export/exportUtilisateurs.cfm" />
				</rule>
				
				<rule name="cfc donateurs">
					<match url="^cfc/donateurs?$" />
					<action type="Rewrite" url="cfc/donateurs.cfc" />
				</rule>
				<rule name="cfc comptes">
					<match url="^cfc/comptes?$" />
					<action type="Rewrite" url="cfc/comptes.cfc" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
